[user]
  name = YumaInaura
  email = yuma.inaura@gmail.com
[core]
	excludesfile = /Users/yinaura/.gitignore
	editor = vim
[push]
  default = current
[fetch]
  prune = true
[rebase]
  autosquash = true
[branch "master"]
  remote = origin
  merge  = master

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
  jump = !git checkout $(git reflog | grep 'checkout: moving' | awk '{ print $8}' | awk '!a[$0]++' | peco)
  j = !git jump

  open=!open $(git remote --verbose | head -n 1 | awk '{ print $2 }')

  current = !git rev-parse --abbrev-ref HEAD
  back=!git rebase -i $(git merge-base master HEAD)

  refresh = !git fetch && git reset --hard origin/$(git current)
  branch-root = merge-base master HEAD

  ck = checkout
  st = status -s
  cherry = ! git cherry-pick

  break = reset HEAD^

  cm = commit
  cma = commit --amend

  create = !git add . && git commit
  cr = !git create

  forget = !git add . && git commit --amend
  fg = !git forget

  br = branch

  names = diff --name-status HEAD^
  changes = !git diff --name-status $(git merge-base master HEAD) 

  abort = rebase --abort
  continue = !git rbc

  change = !git add . && git rebase --continue
  vanish = !git reset . && git checkout . && git clean -fd  

[init]
  templatedir = ~/.git_templates
